// Place all the styles related to the ReadingListPapers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reading-list-paper-dl dt {
  width: auto;
}
.reading-list-paper-dl dd {
  margin-left: 120px;
}

.btn.btn-primary.full-paper-btn {
  margin-bottom: 1em;
}

.reading-list-paper-panel .panel-heading {
  background-color: #428bca;
  
  h3 {
    color: white;
  }
}