<tr>
    <td><%= reading_list_paper.paper.title %></td>
    <td><%= reading_list_paper.paper.author %></td>
    <td><%= reading_list_paper.paper.year %></td>
    <td><%= reading_list_paper.paper.publication %></td>
</tr>