<!DOCTYPE html>
<html>
<head>
 
<style>

/* Bootstrap Overrides */
.navbar {
    background-color: black;
    height: 50px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: black;
}

body {
    padding-top: 20px;
}

.pagination a {
    color: #67aaff;
}

.top-link:hover {
    color: #6ecbff !important;
}
</style>

</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
       <a class="navbar-brand">PaperSphere</a>
    </div>      
    <div class="collapse navbar-collapse navbar-ex1-collapse">
  </nav>
    <p> Dear <%= @user.first_name =%>,</p>
    <p>You have been added to the <%= @group.name =%> group.</p>

</body>
</html>
