<table border="1">
	<tr>
	    <td>Reading List</td>
	    <td>Access Rights</td>
	<tr>	
    <% @group.reading_list_shares.each do |share| %>
        <tr>
            <td><%= link_to share.reading_list.name , share.reading_list %></td>
            <td><%= share.access_rights %></td>
       </tr>
    <% end %>
</table>